<form method="post">
    <div class="form-group">
        <div class="form-label">Credit card number</div>
        <div class="form-element"><input></div>
    </div>

    <div class="form-group">
        <div class="form-label">expiry date</div>
        <div class="form-element"><input type="month"></div>
    </div>

    <div class="form-group">
        <div class="form-label">CVC</div>
        <div class="form-element"><input></div>
    </div>
    <div class="button-group">
        <input type="submit" value="Submit">
        <input type="reset" value="Clear">
    </div>

</form>