<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Smile | Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalise/8.0.1/normalise.css"/>
    <link href="{{ url_for('static', filename='smile.css') }}" rel="stylesheet">
</head>

<body>
<div class="container">
    <header>
    </header>
    <nav>
    </nav>
    <main>

    </main>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="js/script.js"></script>
</body>

</html>